.static-navbar {
  background-color: #ffffffe6;
  height: 90px;
  left: 20px;
  position: relative;
  top: 20px;
  width: 1440px;
}

.static-navbar .frame-3 {
  align-items: flex-start;
  display: inline-flex;
  gap: 48px;
  left: 417px;
  position: relative;
  top: 33px;
}

.static-navbar .navbar-menu-instance {
  left: unset !important;
  top: unset !important;
}

.static-navbar .frame-4 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.static-navbar .design-component-instance-node {
  left: unset !important;
  top: unset !important;
  width: 83px !important;
}

.static-navbar .arrow {
  height: 16px;
  position: relative;
  width: 16px;
}

.static-navbar .navbar-menu-2 {
  left: unset !important;
  top: unset !important;
  width: 48px !important;
}

.static-navbar .navbar-menu-3 {
  left: unset !important;
  top: unset !important;
  width: 27px !important;
}

.static-navbar .navbar-menu-4 {
  left: unset !important;
  top: unset !important;
  width: 73px !important;
}
