:root {
  --black: rgba(0, 0, 0, 1);
  --black-30: rgba(50, 50, 50, 0.3);
  --brown: rgba(129, 120, 110, 1);
  --dark-green: rgba(47, 81, 91, 1);
  --dark-grey: rgba(63, 69, 70, 1);
  --dark-grey-purple: rgba(96, 91, 105, 1);
  --dark-sky-blue: rgba(82, 143, 147, 1);
  --dark-yellowgreen: rgba(99, 121, 94, 1);
  --drop-shadow1: 3px 5px 10px 5px rgba(0, 0, 0, 0.25);
  --drop-shadow2: 4px 4px 20px 2px rgba(0, 0, 0, 0.07);
  --grey: rgba(135, 135, 135, 1);
  --grey-blue: rgba(169, 201, 203, 1);
  --grey-purple: rgba(129, 124, 139, 1);
  --lexend-16px-medium-font-family: "Lexend-Medium", Helvetica;
  --lexend-16px-medium-font-size: 16px;
  --lexend-16px-medium-font-style: normal;
  --lexend-16px-medium-font-weight: 500;
  --lexend-16px-medium-letter-spacing: 0px;
  --lexend-16px-medium-line-height: normal;
  --lexend-20px-medium-font-family: "Lexend-Medium", Helvetica;
  --lexend-20px-medium-font-size: 20px;
  --lexend-20px-medium-font-style: normal;
  --lexend-20px-medium-font-weight: 500;
  --lexend-20px-medium-letter-spacing: 0px;
  --lexend-20px-medium-line-height: normal;
  --lexend-24px-medium-font-family: "Lexend-Medium", Helvetica;
  --lexend-24px-medium-font-size: 24px;
  --lexend-24px-medium-font-style: normal;
  --lexend-24px-medium-font-weight: 500;
  --lexend-24px-medium-letter-spacing: 0px;
  --lexend-24px-medium-line-height: normal;
  --lexend-40px-regular-font-family: "Lexend-Regular", Helvetica;
  --lexend-40px-regular-font-size: 40px;
  --lexend-40px-regular-font-style: normal;
  --lexend-40px-regular-font-weight: 400;
  --lexend-40px-regular-letter-spacing: 0px;
  --lexend-40px-regular-line-height: normal;
  --lexend-40px-semibold-font-family: "Lexend-SemiBold", Helvetica;
  --lexend-40px-semibold-font-size: 40px;
  --lexend-40px-semibold-font-style: normal;
  --lexend-40px-semibold-font-weight: 600;
  --lexend-40px-semibold-letter-spacing: 0px;
  --lexend-40px-semibold-line-height: normal;
  --lexend-64px-semibold-font-family: "Lexend-SemiBold", Helvetica;
  --lexend-64px-semibold-font-size: 64px;
  --lexend-64px-semibold-font-style: normal;
  --lexend-64px-semibold-font-weight: 600;
  --lexend-64px-semibold-letter-spacing: 0px;
  --lexend-64px-semibold-line-height: normal;
  --lexend-68px-semibold-font-family: "Lexend-SemiBold", Helvetica;
  --lexend-68px-semibold-font-size: 68px;
  --lexend-68px-semibold-font-style: normal;
  --lexend-68px-semibold-font-weight: 600;
  --lexend-68px-semibold-letter-spacing: 0px;
  --lexend-68px-semibold-line-height: normal;
  --lexend-74px-semibold-font-family: "Lexend-SemiBold", Helvetica;
  --lexend-74px-semibold-font-size: 74px;
  --lexend-74px-semibold-font-style: normal;
  --lexend-74px-semibold-font-weight: 600;
  --lexend-74px-semibold-letter-spacing: 1.48px;
  --lexend-74px-semibold-line-height: normal;
  --light-grey: rgba(246, 246, 246, 1);
  --light-grey2: rgba(230, 230, 230, 1);
  --primary-blue: rgba(206, 228, 229, 1);
  --primary-green: rgba(227, 240, 211, 1);
  --primary-yellow: rgba(248, 242, 221, 1);
  --sky-blue: rgba(138, 183, 186, 1);
  --ubuntu-14px-medium-font-family: "Ubuntu-Medium", Helvetica;
  --ubuntu-14px-medium-font-size: 14px;
  --ubuntu-14px-medium-font-style: normal;
  --ubuntu-14px-medium-font-weight: 500;
  --ubuntu-14px-medium-letter-spacing: 0px;
  --ubuntu-14px-medium-line-height: normal;
  --ubuntu-14px-regular-font-family: "Ubuntu-Regular", Helvetica;
  --ubuntu-14px-regular-font-size: 14px;
  --ubuntu-14px-regular-font-style: normal;
  --ubuntu-14px-regular-font-weight: 400;
  --ubuntu-14px-regular-letter-spacing: 0px;
  --ubuntu-14px-regular-line-height: normal;
  --ubuntu-16px-medium-font-family: "Ubuntu-Medium", Helvetica;
  --ubuntu-16px-medium-font-size: 16px;
  --ubuntu-16px-medium-font-style: normal;
  --ubuntu-16px-medium-font-weight: 500;
  --ubuntu-16px-medium-letter-spacing: 0px;
  --ubuntu-16px-medium-line-height: normal;
  --ubuntu-16px-regular-font-family: "Ubuntu-Regular", Helvetica;
  --ubuntu-16px-regular-font-size: 16px;
  --ubuntu-16px-regular-font-style: normal;
  --ubuntu-16px-regular-font-weight: 400;
  --ubuntu-16px-regular-letter-spacing: 0px;
  --ubuntu-16px-regular-line-height: normal;
  --ubuntu-16px-regular-linehight22-font-family: "Ubuntu-Regular", Helvetica;
  --ubuntu-16px-regular-linehight22-font-size: 16px;
  --ubuntu-16px-regular-linehight22-font-style: normal;
  --ubuntu-16px-regular-linehight22-font-weight: 400;
  --ubuntu-16px-regular-linehight22-letter-spacing: 0px;
  --ubuntu-16px-regular-linehight22-line-height: 22px;
  --ubuntu-18px-medium-font-family: "Ubuntu-Medium", Helvetica;
  --ubuntu-18px-medium-font-size: 18px;
  --ubuntu-18px-medium-font-style: normal;
  --ubuntu-18px-medium-font-weight: 500;
  --ubuntu-18px-medium-letter-spacing: 0px;
  --ubuntu-18px-medium-line-height: normal;
  --ubuntu-20px-medium-font-family: "Ubuntu-Medium", Helvetica;
  --ubuntu-20px-medium-font-size: 20px;
  --ubuntu-20px-medium-font-style: normal;
  --ubuntu-20px-medium-font-weight: 500;
  --ubuntu-20px-medium-letter-spacing: 0px;
  --ubuntu-20px-medium-line-height: normal;
  --ubuntu-20px-regular-32-ubuntu-20px-regular-lineheight-32-font-family: "Ubuntu-Regular", Helvetica;
  --ubuntu-20px-regular-32-ubuntu-20px-regular-lineheight-32-font-size: 20px;
  --ubuntu-20px-regular-32-ubuntu-20px-regular-lineheight-32-font-style: normal;
  --ubuntu-20px-regular-32-ubuntu-20px-regular-lineheight-32-font-weight: 400;
  --ubuntu-20px-regular-32-ubuntu-20px-regular-lineheight-32-letter-spacing: 0.4px;
  --ubuntu-20px-regular-32-ubuntu-20px-regular-lineheight-32-line-height: 30px;
  --ubuntu-20px-regular-font-family: "Ubuntu-Regular", Helvetica;
  --ubuntu-20px-regular-font-size: 20px;
  --ubuntu-20px-regular-font-style: normal;
  --ubuntu-20px-regular-font-weight: 400;
  --ubuntu-20px-regular-letter-spacing: 0px;
  --ubuntu-20px-regular-line-height: normal;
  --ubuntu-24px-bold-font-family: "Ubuntu-Bold", Helvetica;
  --ubuntu-24px-bold-font-size: 24px;
  --ubuntu-24px-bold-font-style: normal;
  --ubuntu-24px-bold-font-weight: 700;
  --ubuntu-24px-bold-letter-spacing: 0px;
  --ubuntu-24px-bold-line-height: normal;
  --ubuntu-24px-medium-font-family: "Ubuntu-Medium", Helvetica;
  --ubuntu-24px-medium-font-size: 24px;
  --ubuntu-24px-medium-font-style: normal;
  --ubuntu-24px-medium-font-weight: 500;
  --ubuntu-24px-medium-letter-spacing: 0px;
  --ubuntu-24px-medium-line-height: normal;
  --ubuntu-24px-medium-linehight-34-font-family: "Ubuntu-Medium", Helvetica;
  --ubuntu-24px-medium-linehight-34-font-size: 24px;
  --ubuntu-24px-medium-linehight-34-font-style: normal;
  --ubuntu-24px-medium-linehight-34-font-weight: 500;
  --ubuntu-24px-medium-linehight-34-letter-spacing: 0px;
  --ubuntu-24px-medium-linehight-34-line-height: 34px;
  --variable-collection-black-30: rgba(50, 50, 50, 0.3);
  --white: rgba(255, 255, 255, 1);
}
