.home {
  background-color: #ffffff;
  height: 800px;
  left: 20px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.home .overlap-group-2 {
  height: 821px;
  position: absolute;
  top: -27px;
}

.home .ellipse {
  background: linear-gradient(180deg, rgb(205.59, 228.07, 229.5) 0%, rgba(205.59, 228.07, 229.5, 0.3) 100%);
  border-radius: 289.5px;
  height: 579px;
  position: absolute;
  top: 0;
  width: 579px;
}

.home .ellipse-2 {
  background: linear-gradient(180deg, rgb(227.36, 240.12, 211.11) 0%, rgba(227.36, 240.12, 211.11, 0.3) 100%);
  border-radius: 316.5px;
  height: 633px;
  position: absolute;
  top: 188px;
  width: 633px;
}

.home .frame {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 12px;
  left: 0;
  position: absolute;
  top: 361px;
}

.home .hi-i-m-hwanyi {
  color: var(--black);
  font-family: var(--lexend-74px-semibold-font-family);
  font-size: var(--lexend-74px-semibold-font-size);
  font-style: var(--lexend-74px-semibold-font-style);
  font-weight: var(--lexend-74px-semibold-font-weight);
  letter-spacing: var(--lexend-74px-semibold-letter-spacing);
  line-height: var(--lexend-74px-semibold-line-height);
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.home .an-artist-animator {
  color: var(--black);
  font-family: "Ubuntu", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.home .span {
  font-family: var(--ubuntu-24px-medium-font-family);
  font-size: var(--ubuntu-24px-medium-font-size);
  font-style: var(--ubuntu-24px-medium-font-style);
  font-weight: var(--ubuntu-24px-medium-font-weight);
  letter-spacing: var(--ubuntu-24px-medium-letter-spacing);
  line-height: var(--ubuntu-24px-medium-line-height);
}

.home .text-wrapper-2 {
  font-weight: 500;
}

.home .text-wrapper-3 {
  font-family: var(--ubuntu-24px-bold-font-family);
  font-size: var(--ubuntu-24px-bold-font-size);
  font-style: var(--ubuntu-24px-bold-font-style);
  font-weight: var(--ubuntu-24px-bold-font-weight);
  letter-spacing: var(--ubuntu-24px-bold-letter-spacing);
  line-height: var(--ubuntu-24px-bold-line-height);
}

.home .text-wrapper-4 {
  font-weight: 700;
}

.home .overlap {
  height: 800px;
  position: absolute;
  top: 0;
}

.home .ellipse-3 {
  background: linear-gradient(180deg, rgb(248, 242, 221) 0%, rgba(248, 242, 221, 0.5) 100%);
  border-radius: 400px;
  height: 800px;
  left: 0;
  position: absolute;
  top: 0;
  width: 800px;
}

.home .frame-2 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 12px;
  left: 382px;
  position: absolute;
  top: 334px;
}

.home .hi-i-m-hwanyi-2 {
  color: transparent;
  font-family: "Lexend", Helvetica;
  font-size: 74px;
  font-weight: 600;
  letter-spacing: 1.48px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.home .p {
  color: transparent;
  font-family: "Ubuntu", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.home.delayed-state {
  top: 940px;
}

.home.main {
  top: 20px;
}

.home.delayed-state .overlap-group-2 {
  left: 435px;
  width: 1140px;
}

.home.main .overlap-group-2 {
  left: 723px;
  width: 895px;
}

.home.delayed-state .ellipse {
  left: 217px;
}

.home.main .ellipse {
  left: 0;
}

.home.delayed-state .ellipse-2 {
  left: 507px;
}

.home.main .ellipse-2 {
  left: 262px;
}

.home.delayed-state .overlap {
  background: linear-gradient(180deg, rgb(248, 242, 221) 0%, rgba(248, 242, 221, 0.5) 100%);
  border-radius: 400px;
  left: -428px;
  width: 800px;
}

.home.main .overlap {
  left: -380px;
  width: 953px;
}
